<!--
  Generated template for the RecoverPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content>
  <div class="content">
    <div class="logo">
      <img src="../../assets/imgs/logo1.png">
    </div>
    <div class="content-login" >
      <form [formGroup]="form" (ngSubmit)="send()">
        <ion-row>
          <ion-col col-12 col-sm-6 offset-sm-3 col-lg-4 offset-lg-4>
            <ion-list>
              <ion-item>
                <ion-label stacked>{{ 'email' | translate }}</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
              </ion-item>
              <small class="msg-error-input" *ngIf="validate('email')">{{ 'emailValid' | translate }}</small>
              <div col-12>
                <a class="link" (click)="send()">{{ 'recoverPass' | translate }}</a>
              </div>

            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 col-sm-6 offset-sm-3 col-lg-4 offset-lg-4>
            <div class="cancel">
              <button type="button" ion-button color="danger" round (click)="goBack()">
                <ion-icon name="close"></ion-icon>
              </button>
            </div>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>

</ion-content>

